// 1. Custom variables first (defines CSS custom properties)
@import 'variables';

// 2. Bootstrap imports (minimal, utilities only)
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/offcanvas';

// 3. Custom typography and dark mode AFTER Bootstrap (to override)
@import 'typography';
@import 'dark-mode';
